# exclude all dot files except .gitignore
.*
!.gitignore
# version stamp required by LuaJIT's msvcbuild.bat (see luajit-2/.relver)
!.relver

# exclude binaries and temporary files
bin/
bin_plugs/
intermediate/
intermediate_plugs/
lib/
_build/
libraries/
/src/*.tss
/**/x64/
**/.vs/
*.VC.db
*.VC.opendb
*.user
lua51.dll
lua51.exp
lua51.lib
luajit.exe
luajit.exp
luajit.lib
minilua.exp
minilua.lib
buildvm.exp
buildvm.lib
*.pdb
